.card-swiper-container {
  background-color: var(--secondary-bg);
  color: var(--color-text);
}

.swiper-card {
  margin-bottom: 4rem;
  margin-top: 1rem;
  cursor: pointer;
}
.swiper-card:hover {
  filter: brightness(70%);
}
