.card-swiper-container {
  background-color: var(--secondary-bg);
  color: var(--color-text);
}

.swiper-card {
  cursor: pointer;
  filter: brightness(80%);
}
.swiper-card:hover {
  filter: brightness(100%);
}
