.sidebar-container {
  position: absolute;
  width: 15rem;
  height: 100vh;
  background-color: var(--secondary-bg);
  color: var(--color-text);
}
.sidebar-list {
  padding: 1rem;
}
.sidebar-items {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.sidebar-items:hover {
  background-color: var(--color-primary-muted);
}
