.hero {
  background-image: url("./banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 6rem;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.6rem;
  color: var(--gray-100);
  padding: 0.5rem 1rem;
  max-width: 60rem;
  height: 40rem;
  margin: auto;
}
.hero-container h1 {
  color: var(--gray-100);
  font-size: 3rem;
  padding: 0.5rem;
  letter-spacing: 0.1em;
}
.ct-btn .banner-link {
  text-decoration: none;
  color: var(--color-text);
}
.main-cta {
  font-size: 1.8rem;
  margin: 1rem;
  padding: 1rem 2.4rem;
  background-color: var(--violet-500);
  transition: 250ms ease-in;
  color: var(--color-text);
  text-decoration: none;
}
.main-cta:hover {
  background-color: var(--violet-700);
}

.banner-btns-div {
  display: flex;
}
