.clear-history-btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 1.6rem;
  color: var(--color-body-bg);
  background-color: var(--color-text);
}
.history-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
  min-height: 80vh;
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .history-container {
    margin-left: 0rem;
    margin-top: 0rem;
    margin: 1rem;
  }
}
