.ct-basic-card.slider-video-card {
  padding: 0;
  max-width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--color-body-bg);
}
.ct-card-img.video-thumbnail {
  max-height: 26rem;
  object-fit: cover;
  margin: 0;
}

.slider-video-card-title {
  color: var(--gray-100);
  font-size: 1.6rem;
  position: absolute;
  text-align: start;
  bottom: 1.6rem;
  width: 100%;
  padding: 1rem;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.3);
}
