.single-video-page {
  padding: 1rem;
  margin-left: 20rem;
  margin-top: 6rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.single-video-container {
  color: var(--color-text);
  min-width: 600px;
  width: 60%;
  min-height: 80vh;
  flex-grow: 0.1;
}

.watch-next-container {
  color: var(--color-text);
  flex-grow: 0.8;
  min-width: 250px;
  min-height: 80vh;
  padding: 1rem;
}
.watch-next-container h1 {
  margin-left: 1rem;
}
.video-details-container {
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid var(--color-text);
}
.video-details p {
  font-size: 1.8rem;
}
.video-btns {
  display: flex;
}
.video-btns > * {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color-body-bg);
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

.video-btns .material-icons-outlined {
  font-size: 2rem;
}
.video-btns-text {
  font-size: 1.7rem;
}

@media only screen and (max-width: 1080px) {
  .single-video-container {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .single-video-page {
    margin-left: 0;
  }
  .video-details-container {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .single-video-container {
    height: auto;
    min-width: 100%;
  }
}
