.navbar {
  background-color: var(--secondary-bg);
  color: var(--color-primary);
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  z-index: 9;
}
.search-container {
  margin: 0 0.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  display: none;
  font-size: 3.2rem;
  cursor: pointer;
}
.logo h1 {
  font-size: 3.2rem;
  margin-left: 1rem;
  font-weight: bolder;
  font-family: "Square Peg", cursive;
  letter-spacing: 1rem;
}

input.ct-input.search-input {
  display: flex;
  border: none;
  outline: none;
  background-color: var(--color-text);
  color: var(--secondary-bg);
  padding: 1.28rem;
  width: 30rem;
  margin-left: 1rem;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.search-container input.hide {
  display: none;
}
.signin-text {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 1.6rem;
  color: var(--color-primary);
  background-color: var(--color-body-bg);
}
.search-btn {
  color: var(--color-primary);
  background-color: var(--color-body-bg);
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.close-btn {
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-text);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.dropbtn {
  background-color: var(--color-body-bg);
  color: var(--color-primary);
  border: none;
  font-size: 3.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0rem;
  background-color: #f1f1f1;
  min-width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
  border-radius: 7px;
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--color-body-bg);
  background-color: var(--color-primary);
}
.dropdown-item {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-primary-varient);
  outline: none;
  border: none;
  border-radius: 7px;
}
.dropdown-item > * {
  font-size: 1.6rem;
}
.dropdown-item .material-icons-outlined {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .logo span {
    display: flex;
  }
}
