.horizontal-card-wrapper {
  margin-bottom: 2rem;
  height: 10rem;
  max-width: 54rem;
  cursor: pointer;
  display: flex;
  position: relative;
  background-color: var(--color-body-bg);
}
.horizontal-card-container {
  text-decoration: none;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: horizontal;
}
.horizontal-card-container:hover {
  filter: brightness(70%);
  background-color: var(--secondary-bg);
}

.horizontal-card-img {
  max-width: 40%;
}
.horizontal-card-content {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--color-text);
}
.horizontal-card-content h3:hover {
  text-decoration: underline;
}

.horizontal-card-wrapper .delete-btn {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
