.footer {
  background-color: var(--secondary-bg);
  color: var(--gray-500);
  min-height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.4rem;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  gap: 2.4rem;
  z-index: 11;
}

.footer-left,
.logo h1 {
  letter-spacing: 0.1em;
}
.logo {
  text-decoration: none;
  color: var(--color-primary);
}
.footer-left small {
  margin-left: 1.2rem;
}
.footer-right {
  text-align: start;
  display: flex;
  gap: 6rem;
  padding: 1.6rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-links > *:hover {
  cursor: pointer;
  transition: all 200ms ease-in;
}
.footer-links > *:hover {
  color: var(--color-text);
}
.footer-right p,
h3 {
  font-size: 1.6rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links .footer-link {
  text-decoration: none;
  color: var(--gray-500);
  transition: all 200ms ease-in;
}
.footer-links .footer-link:hover {
  color: var(--color-text);
}
.social-div {
  margin: 1.6rem 0;
  display: flex;
  justify-content: space-evenly;
}
.social-links {
  width: 2.4rem;
  cursor: pointer;
  filter: invert(49%) sepia(17%) saturate(332%) hue-rotate(182deg)
    brightness(87%) contrast(86%);
  transition: all 200ms ease;
}
