.videos-container {
  margin-left: 20rem;
  margin-top: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-around;
}
.page-text {
  font-size: 1.6rem;
  margin-left: 20rem;
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  gap: 1rem;
}
.other-pages-video-container {
  padding: 1rem;
  margin-top: 0;
  flex-direction: column-reverse;
}
.other-pages-video-container > * {
  height: 100px;
}
.other-pages-video-container h1 {
  font-size: 2.8rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  .videos-container {
    margin-top: 7.5rem;
    margin-left: 0;
  }
  .page-text {
    margin-top: 7.5rem;
    margin-left: 0;
  }
}
