@import url("https://fonts.googleapis.com/css2?family=Inter&family=Itim&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --color-primary: hsl(268, 100%, 40%);
  --color-primary-muted: #1d1a24;
  --color-primary-varient: #3700b3;
  --color-error: #cf6679;
  --permanant-bg: hsl(197, 14%, 10%);
  --color-moon: hsl(220, 23%, 95%);
  --color-sun: hsl(56, 100%, 40%);
}
body.light-mode {
  --color-body-bg: hsl(220, 23%, 95%);
  --secondary-bg: hsl(0, 0%, 88%);
  --color-text: hsl(215, 28%, 17%);
}
body.dark-mode {
  --color-body-bg: hsl(197, 14%, 10%);
  --secondary-bg: hsl(197, 10%, 13%);
  --color-text: hsl(270, 23%, 95%);
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-body-bg);
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
