.video-card-container {
  margin-bottom: 2rem;
  max-width: 260px;
  cursor: pointer;
  background-color: var(--color-body-bg);
}
.video-card-container:hover {
  filter: brightness(70%);
  background-color: var(--secondary-bg);
}

.video-card-img {
  position: relative;
}
.video-card-content {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--color-text);
}
.video-card-content h3:hover {
  text-decoration: underline;
}
.video-time-status {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 5px;
}

@media only screen and (max-width: 1020px) {
  .video-card-container {
    max-width: 220px;
  }
}
@media only screen and (max-width: 900px) {
  .video-card-container {
    max-width: 220px;
  }
}
@media only screen and (max-width: 700px) {
  .video-card-container {
    max-width: 80%;
    max-height: min-content;
  }
}
