.video-card-container {
  margin-bottom: 2rem;
  max-width: 26rem;
  cursor: pointer;
  background-color: var(--color-body-bg);
  position: relative;
}
.video-card-link {
  text-decoration: none;
}
.video-card-img {
  position: relative;
}
.video-card-container:hover .video-card-img {
  filter: brightness(60%);
}
.video-card-content {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--color-text);
}
.video-card-content h3:hover {
  text-decoration: underline;
}
.video-time-status {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.4rem;
  color: var(--color-text);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 5px;
}
.action-container {
  width: 100%;
  position: absolute;
  color: var(--color-primary);
  bottom: 0;
  justify-content: space-around;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.video-card-container:hover .action-container {
  display: flex;
}
.action-container .material-icons-outlined:hover {
  color: var(--color-text);
}
@media only screen and (max-width: 1020px) {
  .video-card-container {
    max-width: 22rem;
  }
}
@media only screen and (max-width: 900px) {
  .video-card-container {
    max-width: 26rem;
  }
}
@media only screen and (max-width: 700px) {
  .video-card-container {
    max-width: 80%;
    max-height: min-content;
    margin: 0 auto;
  }
}
